<!doctype html>
<html lang="en">
  <head>
    <title>Player not found</title>
    <%- include("head.ejs") %>
  </head>
  <body class="error-page">
    <h1>Nope, that doesn't exist. Better luck next time.</h1>
    <p>Looks like you're trying to view a player that isn't connected. Please check the name.</p>
  </body>
</html>
